:root {
    /* hier maak ik variables aan voor de kleuren zodat ik ze eventueel later kan veranderen
    ik gebruik express geen rgb zodat ik ook nog de alpha channel kan veranderen, ik gebruik deze waardes nu met `rgb(var(--Primary))` of `rgb(var(--Primary),0.5)` */
    --Primary: 233, 43, 0;
    --Accent: 0, 190, 233;
    --DarkAccent: 0, 150, 193;
    --Window: 228, 230, 232;
    --Code: 0, 0, 0;
    --TextColor: 32, 32, 32;
    --TextColorCode: 0, 255, 255;
}


/* importeer de font fira code */

@font-face {
    font-family: "Fira Code";
    src: url("FiraCode-Regular.ttf");
}


/* een simpele laadanimatie om het net wat mooier te maken */

article,
.header h2 {
    animation: startup 0.5s 1 ease-in-out;
}


/* de animatie */

@keyframes startup {
    0% {
        opacity: 0;
        margin-top: 75px;
    }
}


/* #region Standard styles*/


/* een kleine hack om de universele selector en algemene buur te gebruiken */

*~body {
    color: rgb(var(--TextColor));
    background-color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: calc(100% - 2em);
    padding-bottom: 3em;
    position: relative;
}


/* dit zorgt ervoor dat de footer onderaan staat */

html {
    height: 100%;
}


/* elke h1 en h2 moet dit lettertype hebben */

h1,
h2 {
    font-family: 'bahnschrift Light', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    margin-bottom: 0;
}


/* de standaard stijl van buttons, .button is voor links die als buttons moeten zien */

button,
.button {
    text-decoration: none;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 50px;
    margin: 5px;
    color: white;
    transition: filter 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--DarkAccent));
}


/* hier gebruik ::first-letter omdat ik het moest gebruik */

h1::first-letter {
    font-size: 115%;
}


/* een beetje veel, maar dit zorgt er voor dat alle buttons na de eerste een andere kleur hebben */

button+button,
.button+.button,
.button+button,
button+.button {
    background-color: rgb(var(--Accent));
}


/* een simpele hover van buttons */

button:hover,
.button:hover {
    filter: grayscale(0.5);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}


/* dit zorgt er voor dat buttons hun volledige breedte pakken */

.full-width {
    display: block;
}

ul {
    display: inline-block;
    text-align: left;
    list-style: circle;
    margin: 0;
}


/* dit zorgt er voor dat je plaatjes en buttons niet kunt verslepen */

img,
button {
    user-select: none;
    -webkit-user-drag: none;
}


/* de footer style */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(var(--Accent));
    height: 3em;
    text-align: center;
}

footer p {
    height: 3em;
    width: 100%;
    margin: 0;
}


/* dit maakt code blokken op, het wordt nou niet gebruikt, maar later wel. */

code {
    display: inline-block;
    background-color: rgb(var(--Code));
    color: rgb(var(--Accent));
    font-family: "Fira Code";
    font-size: 12px;
    padding: 2px 10px;
    margin: 0 auto;
    border-radius: 10px;
    white-space: pre-wrap;
    text-align: left;
}


/* dit zorgt er voor dat tables de hele breedte in nemen van artikels */

table {
    display: inline-table;
    margin: 0;
    max-width: 95%;
    border-collapse: collapse;
}


/* dit maakt empty cells op */

td:empty {
    background-color: white;
}

td {
    text-align: left;
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgray;
}


/* elke button in een td moet de volledige breedte nemen */

td button {
    width: 95%;
}

.grade {
    text-align: center;
}


/* dit word alleen op de contactpagina gebruikt om witte afbeeldingen zwart te maken */

.invert {
    filter: invert();
}


/* dit maakt de selectie op */

::selection {
    background-color: rgb(var(--DarkAccent));
}


/* #endregion */


/* #region Icons*/


/* hier zijn verschillende iconen die je kunt gebruiken op knoppen ik had hier font-awesome kunnen gebruiken maar ik wou het zelf ook even proberen  */

.icon-download {
    background-image: url(Images/download.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-arrow-right {
    background-image: url(Images/arrow-right.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-mail {
    background-image: url(Images/mail.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-location {
    background-image: url(Images/location.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-website {
    background-image: url(Images/website.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-contact {
    background-image: url(Images/contact.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}

.icon-phone {
    background-image: url(Images/phone.png);
    padding-left: 65px;
    background-position: .75em center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}


/* #endregion */


/* #region navbar*/


/* de navigatiebalk */

nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 33, 0);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}


/* elk item in de navbar */

nav a {
    position: relative;
    overflow: visible;
    cursor: pointer;
    text-decoration: none;
    color: rgb(var(--Window));
    margin: 5px;
    text-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    transition: margin-bottom 0.1s, text-shadow 0.5s;
}


/* on hover event voor items */

nav a:hover {
    color: white;
}


/* dit is de knop voor mobiel, die hoeft niet zichtbaar te zijn in desktop mode */

nav #menu {
    visibility: hidden;
    height: 5vmax;
    float: left;
}


/* de item met 'neem contact op!' */

.contact {
    text-decoration: none;
    color: rgb(var(--Accent));
}


/* #region submenu's*/


/* dit maakt de submenu op die is er alleen op producten op dit moment, maar er komt meer als goed is.*/

a .submenu {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    overflow: visible;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
    background: linear-gradient(to top, rgb(199, 30, 0), rgb(223, 33, 0));
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* als je hovert over een item dan komt de submenu naar beneden */

a:hover .submenu {
    transform: scaleY(1);
    opacity: 1;
}


/* de items voor de submenu */

.submenu li {
    padding: 5px 10px;
    margin: 0;
}

.submenu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* #endregion */


/* #endregion */


/* #region headers*/


/* dit maakt de header op, het eerste vak */

.header {
    display: flex;
    background-color: rgb(var(--Primary));
    background: url(images/header_background.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50vh;
    text-align: center;
    color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -10vh;
    box-shadow: inset 0 -2px 16px 0 rgba(0, 0, 0, 0.5);
}

.header h1 {
    position: fixed;
    margin: -5px;
    letter-spacing: 2px;
}

.header h2 {
    position: fixed;
    top: 25vh;
    font-style: italic;
}


/* #endregion */


/* #region Articles*/


/* een div die er voor zorgt dat alle artikels goed komen te staan, ik gebruik hier flexbox voor*/

.articles {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}


/* een artikel, het grijze blok */

article {
    flex: 0 35vw;
    background-color: rgb(var(--Window));
    margin: 15px 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
}


/* dit zorgt er voor iframes(google maps) volledige breedte pakken */

article iframe {
    width: 100%;
    border-radius: 10px;
}


/* eerst justifying daarna naar het midden uitlijnen */

article p {
    text-align: justify;
    text-align-last: center;
}


/* de eerste line wordt wat groter */

article p::first-line {
    font-size: 105%;
    word-spacing: 101%;
}


/* de eerste h1 moet een andere kleur krijgen */

article h1 {
    margin: 0;
    color: rgb(var(--Accent));
}


/* dit zorgt er voor dat mijn foto rond word */

article.profile img {
    border-radius: 100%;
    border: 1px solid rgba(var(--Accent), 0.4);
}


/* dit zorgt er voor dat het eerste img de hele width opvult */

article.image img {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    right: -10px;
    top: -10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* dit zorgt er voor dat logo's er mooi uitzien */

article.logo img {
    width: 50%;
    border-bottom: 1px solid lightgray;
}


/* dit is voor de homepage omdat blijkbaar de layout van de homepage er anders uit moet zien */

article.homepage {
    margin-top: 10vh;
    flex: 1 100%;
    background-color: transparent;
    box-shadow: none;
}


/* #endregion */


/* #region Grades */


/* deze region zorgt er voor dat de cijfers op de pagina opleidingen mooi uit zien */

.grade {
    width: 60px;
}

.grade h1 {
    display: none;
    transition: opacity 0.5s linear;
}

.grade h1 {
    font-size: 16px;
}

.grade h1::first-letter {
    font-size: 32px;
}


/* #endregion */


/* #region Mobile*/


/* de media query die er voor zorgt dat mobiele weergave werkt in portrait modus */

@media screen and (max-device-width: 780px) {
    nav {
        height: 5vmax;
        align-items: center;
        justify-content: flex-start;
        box-shadow: initial;
        background-color: rgb(var(--Primary));
    }
    /* dit zorgt er voor dat je het menu in en uit kan klappen */
    nav div {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    /* als javascript een de class show toevoegt moet de menu zichtbaar worden */
    nav div.show {
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        width: min-content;
        min-width: 200px;
        background-color: rgba(var(--Window), 1);
        box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0);
        display: block;
        z-index: 1;
    }
    /* dit verdonkerd de achtergrond en als je daar op klikt gaat het menu weer weg */
    nav>div.show>.backdrop {
        visibility: visible;
        display: inline;
        opacity: 1;
    }
    /* als het menu niet meer zichtbaar hoort te zijn verberg de backdrop */
    nav>div>.backdrop {
        display: none;
        background-color: rgba(0, 0, 0, .2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    /* een menuitem */
    nav a {
        margin: 0;
        padding: 25px 5px;
        max-height: 25px;
        display: block;
        color: rgb(var(--Accent));
        transition: max-height 0.2s;
    }
    /* als een menuitem een .submenu bevat zet de max-height naar een extreme aantal zodat hij uitklapt */
    a.show {
        max-height: 9999px;
    }
    /* een quickfix, als je op een element klikt wordt hij ook gehovert in mobiele modus, dit zorgt er voor dat je em gewoon weer kunt inklappen */
    a:hover .submenu {
        transform: scaleY(0);
        opacity: 0;
    }
    /* als de submenu te voorschijn moet komen klap hem uit */
    a.show .submenu {
        transform: scaleY(1);
        opacity: 1;
    }
    /* de submenu voor mobiele weergave */
    a .submenu {
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        height: fit-content;
        background: none;
        position: static;
        opacity: 0;
        transform: scaleY(0);
        width: calc(100% - 25px);
        margin: 25px;
        padding-left: 25px;
        margin-left: -5px;
        border-radius: 0;
        border-bottom-left-radius: 5px;
    }
    .submenu li {
        border-left: 5px solid rgba(var(--DarkAccent), 0.5);
        padding: 25px 5px;
        color: rgb(var(--Accent));
    }
    /* dit zorgt ervoor dat de elementen van kleur afwisselen */
    .submenu li:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.065);
    }
    .submenu li:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.025);
    }
    nav a:nth-child(odd) {
        background-color: rgb(240, 240, 240);
    }
    nav a:nth-child(even) {
        background-color: rgb(230, 230, 230);
    }
    /* dit veranderd de kleur terug naar normaal */
    #contact {
        color: rgb(var(--DarkAccent));
    }
    /* de menu knop moet zichtbaar worden in mobiele weergave */
    #menu {
        visibility: visible !important;
        height: 5vmax;
    }
    /* de body mag niet wegvallen achter de navbar */
    body {
        padding-top: 5vmax;
    }
    /* de header mag nu wat kleiner worden */
    .header {
        height: 25vmax;
        box-shadow: initial;
        margin-bottom: 5px;
    }
    .header h1 {
        top: 12.5vmax;
    }
    .header h2 {
        top: 14.2vmax;
    }
    /* artikels moeten nu de volledige breedte in nemen */
    article {
        flex: 0 95vw;
        max-width: 85vw;
    }
    table {
        width: 85%;
    }
    table td {
        width: 30%;
    }
}


/* #endregion */