:root {
	--Primary: 233, 43, 0;
	--Accent: 0, 190, 233;
	--DarkAccent: 0, 150, 193;
	--Window: 228, 230, 232;
	--Code: 0, 0, 0;
	--TextColor: 32, 32, 32;
	--TextColorCode: 255, 255, 255;
}


/* #region Standard styles*/

body {
	color: rgb(var(--TextColor));
	background-color: white;
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	margin: 0;
	min-height: 100vh;
}
html {
	min-height: 100vh;
}
h1,
h2 {
	font-family: 'bahnschrift Light', sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

button {
	outline: none;
	border: none;
	padding: 10px 50px;
	margin: 5px;
	color: white;
	transition: filter 0.3s, box-shadow 0.3s;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	background-color: rgb(var(--DarkAccent));
}

button+button {
	background-color: rgb(var(--Accent));
}

button:hover {
	filter: grayscale(0.5);
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

img,
button {
	user-select: none;
	-webkit-user-drag: none;
}
footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	color: rgb(var(--Accent));
	height: 5vh;
	text-align: center;
}

/* #endregion */


/* #region Icons*/

.icon-download {
	background-image: url(Images/download.png);
	padding-left: 65px;
	background-position: .75em center;
	background-size: 1.5em;
	background-repeat: no-repeat;
}

.icon-arrow-right {
	background-image: url(Images/arrow-right.png);
	padding-left: 65px;
	background-position: .75em center;
	background-size: 1.5em;
	background-repeat: no-repeat;
}

.icon-mail {
	background-image: url(Images/mail.png);
	padding-left: 65px;
	background-position: .75em center;
	background-size: 1.5em;
	background-repeat: no-repeat;
}


/* #endregion */


/* #region navbar*/

nav {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(223, 33, 0);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

nav a {
	position: relative;
	overflow: visible;
	text-decoration: none;
	color: rgb(var(--Window));
	margin: 5px;
	text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
	transition: margin-bottom 0.1s, text-shadow 0.5s;
}

nav a:hover {
	color: white;
}

nav #menu {
	visibility: hidden;
	height: 5vmax;
	float: left;
}

.contact {
	text-decoration: none;
	color: rgb(var(--Accent));
}
/* #region submenu's*/
a .submenu {
	transform-origin: top;
	transform: scaleY(0);
	opacity: 0;
	overflow: visible;
	position: absolute;
	top: 100%;
	left: 0;
	width: max-content;
	padding: 0;
	margin: 0;
	list-style: none;
	background: linear-gradient(to top, rgb(199, 30, 0), rgb(223, 33, 0));
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
a:hover .submenu {
	transform: scaleY(1);
	opacity: 1;
}
.submenu li {
padding: 5px 10px;
margin: 0;
}
.submenu li:hover {
background-color: rgba(255,255,255,0.2);
}
/* #endregion */
/* #endregion */


/* #region headers*/

.header {
	display: flex;
	background-color: rgb(var(--Primary));
	top: 0;
	right: 0;
	left: 0;
	height: 50vh;
	text-align: center;
	color: white;
	margin: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: -10vh;
	box-shadow: inset 0px -2px 16px 0px rgba(0, 0, 0, 0.5);
}

.header h1 {
	position: fixed;
	margin: -5px;
}
.header h2 {
	position: fixed;
	top: 25vh;
}


/* #endregion */


/* #region Articles*/

.articles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

article {
	flex: 1 40vw;
	background-color: rgb(var(--Window));
	max-width: 35vw;
	margin: 15px 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

article h1 {
	margin: 0;
	color: rgb(var(--Accent));
}

article.profile img {
	border-radius: 100%;
	border: 1px solid rgba(var(--Accent), 0.4);
}

article.image img {
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	right: -10px;
	top: -10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


/* #endregion */


/* #region Mobile*/

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	nav {
		height: 5vmax;
		align-items: center;
		justify-content: flex-start;
		box-shadow: initial;
		background-color: rgb(var(--Primary));
	}
	nav div {
		opacity: 0;
		transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	nav div.show {
		opacity: 1;
		position: fixed;
		top: 0;
		bottom: 0;
		left:0;
		height: auto;
		overflow-x: hidden;
		overflow-y: scroll;
		width: min-content;
		min-width: 200px;
		background-color: rgba(var(--Window),1);
		box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0);
		display: block;
		z-index: 1;
	}
	nav>div.show>.backdrop {
		display: inline;
		opacity: 1;
	}
	nav>div>.backdrop {
		display: none;
		background-color: rgba(0, 0, 0, .2);
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
	}
	nav a {
		margin: 0;
		padding: 25px 5px;
		max-height: 25px;
		display: block;
		color: rgb(var(--Accent));	
		transition: max-height 0.2s;	
	}
	a.show {
		max-height: 9999px;
	}
	a:hover .submenu {
		transform: scaleY(0);
		opacity: 0;
	}
	a.show .submenu {
		transform: scaleY(1);
		opacity: 1;
	}
	a .submenu {
		transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		height: fit-content;
		background: none;
		position: static;
		opacity: 0;
		transform: scaleY(0);
		width: calc(100% - 25px);
		margin: 25px;
		padding-left: 25px;
		margin-left: -5px;
		border-radius: 0;
		border-bottom-left-radius: 5px;
	}
	.submenu li {
		border-left: 5px solid rgba(var(--DarkAccent),0.5);
		padding: 25px 5px;
		color: rgb(var(--Accent));
	}
	.submenu li:nth-child(odd) {
		background-color: rgba(0,0,0,0.065);
	}
	.submenu li:nth-child(even) {
		background-color: rgba(0,0,0,0.025);
	}

	nav a:nth-child(odd) {
		background-color: rgb(240, 240, 240);
	}
	nav a:nth-child(even) {
		background-color: rgb(230, 230, 230);
	}
	#contact {
		color: rgb(var(--DarkAccent));
	}
	#menu {
		visibility: visible !important;
		height: 5vmax;

	}
	body {
		padding-top: 5vmax;
	}
	.header {
		height: 25vmax;
		box-shadow: initial;
		margin-bottom: 5px;
	}
	article {
		flex: 1 100vw;
		max-width: 100%;
	}
}


/* #endregion */